<main style="background-color: #b8860b;">
  <div class="padding-top: 58px;">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="about_box">
            <h2>About</h2><br />
            <h3>
              今夜はひつまぶしは愛知県の<br />ひつまぶしのお店共有サイトです。<br />
              ひつまぶしは名古屋メシのひとつで<br />日本全国に知られています。<br />
              お店の住所とアクセス方法が<br />記載していますので<br />
              今夜のお店探しの手助けになれば幸いです。
              <br />
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
