<main style="background-color: #b8860b;">
  <div class="padding-top: 58px;">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="top_box">
            <h2>ようこそ、今夜はひつまぶしへ！</h2><br />
            
            <h3>
              このサイトは、ひつまぶし専門のお店共有サイトになります。<br />
              会員でない方もお店の閲覧はできますが、<br />
              お店の投稿には会員登録が必要になります。<br />
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
